pkgbase = docker-registry
	pkgdesc = Registry server for Docker (hosting/delivering of repositories and images)
	pkgver = 0.8.1
	pkgrel = 4
	url = https://github.com/dotcloud/docker-registry
	install = docker-registry.install
	arch = any
	license = Apache 2.0
	depends = python2
	depends = python2-gunicorn
	depends = libevent
	depends = lrzip
	depends = xz
	depends = redis
	depends = python2-gevent
	depends = python2-flask
	depends = python2-grequests
	depends = python2-rsa
	depends = python2-yaml
	depends = python2-redis
	depends = python2-blinker
	depends = python2-sqlalchemy
	depends = python2-backports.lzma
	depends = python2-flask-cors
	options = !emptydirs
	source = https://github.com/dotcloud/docker-registry/archive/0.8.1.tar.gz
	source = https://raw.githubusercontent.com/pschmitt/aur-docker-registry/master/docker-registry.service
	sha512sums = 9ee8612c7f165a8b1b40be0e54816ccc9ead2e8caa8757d24c4112045f3791955600dae6fa8a932ffd7f7dbe0c22ae2fe9bc2dfb0661504aafef4065a4df32f8
	sha512sums = e2971c763571f2d0596262d37535f1a93d6ab0b8f24eee16de2e30eaaaafedc2635e1c533d081198c6a4103a1837a7057b5874a973ce564461926933c6a8c582

pkgname = docker-registry

