pkgbase = docker-registry
	pkgdesc = Registry server for Docker (hosting/delivering of repositories and images)
	pkgver = 0.8.1
	pkgrel = 4
	url = https://github.com/dotcloud/docker-registry
	install = docker-registry.install
	arch = any
	license = Apache 2.0
	depends = python2
	depends = python2-gunicorn
	depends = libevent
	depends = lrzip
	depends = xz
	depends = redis
	depends = python2-gevent
	depends = python2-flask
	depends = python2-grequests
	depends = python2-rsa
	depends = python2-yaml
	depends = python2-redis
	depends = python2-blinker
	depends = python2-sqlalchemy
	depends = python2-backports.lzma
	depends = python2-flask-cors
	options = !emptydirs
	source = https://github.com/dotcloud/docker-registry/archive/0.8.1.tar.gz
	source = https://raw.githubusercontent.com/pschmitt/aur-docker-registry/master/docker-registry.service
	sha512sums = 5c84a61152c59bd71467d3820f086b400c062a87457ed54e63e0c9f9c55ac12182d9858d8ad73a79caa5690df9633504af67f387335da4a4b0da065dd23675cb
	sha512sums = e2971c763571f2d0596262d37535f1a93d6ab0b8f24eee16de2e30eaaaafedc2635e1c533d081198c6a4103a1837a7057b5874a973ce564461926933c6a8c582

pkgname = docker-registry

