[Unit]
Description=Docker Registry
After=network.target

[Service]
ExecStart=/usr/bin/gunicorn-python2 -k gevent -b 0.0.0.0:5000 -w 1 docker_registry.wsgi:application

[Install]
WantedBy=multi-user.target
